*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: hsl(215, 32%, 67%);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}

p {
  margin: 0;
}

/* Media */
.media {
  display: flex;
  align-items: center;
}

.media__image {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.media__content {
  margin-left: 1.5rem;
}

.media__name {
  color: #fff;
  transition: color 0.3s;
  cursor: pointer;
}

.media__name:hover {
  color: hsl(178 100% 50%);
}

/* Icons */
.icon--small {
  width: 20px;
  height: 20px;
}

/* Showcase Block */
.showcase {
  display: flex;
  justify-content: space-between;
}

.showcase__value {
  margin-left: 0.5rem;
}

.showcase__value--primary {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

/* Card */
.card {
  max-width: 400px;
  padding: 2rem;
  border-radius: 15px;
  margin: 0 auto;
  background: hsl(216 50% 16%);
}

.card__header {
  position: relative;
  cursor: pointer;
  height: 330px;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card__heading {
  transition: color 0.3s;
  cursor: pointer;
}

.card__heading:hover {
  color: hsl(178 100% 50%);
}

.card__header:hover .overlay {
  background: hsl(178 100% 50% / 0.5);
}

.card__header:hover .overlay__icon {
  max-height: 100%;
  opacity: 1;
}

.card__showcase {
  padding: 1.5rem 0;
  border-bottom: 1.5px solid hsl(215 32% 27%);
}

.card__user {
  margin-top: 1.5rem;
}

/* Block */
.block {
  padding: 4.5rem 1.5rem;
}

.block--dark {
  background: hsl(217 54% 11%);
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__icon {
  width: 45px;
  height: 45px;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}
